@if (usuario) {
  <div class="grid grid-cols-[1fr_3fr]">
    <div class="px-4 py-4 max-w-sm justify-items-center">
      @if (isAdmin) {
        <div class="w-full rounded overflow-hidden shadow-lg mb-5">
          <button
            type="button"
            command="show-modal"
            commandfor="addProducto"
            class="flex items-center gap-2 cursor-pointer px-6 py-4 font-bold text-xl w-full text-center justify-center bg-orange-300 text-white border hover:bg-orange-400"
          >
            <span class="material-symbols-outlined"> add_diamond </span>
            <span>Crear un Producto</span>
          </button>
        </div>

        <div
          class="w-full rounded overflow-hidden shadow-lg mb-5 bg-gradient-to-r from-green-400 to-red-400 text-gray-100 border hover:from-green-500 hover:to-red-500"
        >
          <button
            type="button"
            command="show-modal"
            commandfor="movProducto"
            class="flex items-center gap-2 cursor-pointer px-6 py-4 font-bold text-xl w-full text-center justify-center"
          >
            <span class="material-symbols-outlined"> assignment_Add </span>
            <span>Registrar Entrada/Salida de Productos</span>
          </button>
        </div>
      }
    </div>

    <div
      class="relative w-full overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base text-center px-7"
    >
      <h2 class="text-lg mb-5 font-bold">Inventario - {{ usuario }}</h2>

      <table
        mat-table
        [dataSource]="productos"
        class="w-full text-sm rtl:text-right text-body text-center"
      >
        <ng-container matColumnDef="nombre">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-6 py-3 font-medium !bg-gray-600 !text-white !text-center !border-b-4 !border-double !border-gray-900"
          >
            Producto
          </th>
          <td mat-cell *matCellDef="let producto" class="!text-center">{{ producto.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-6 py-3 font-medium !bg-gray-600 !text-white !text-center !border-b-4 !border-double !border-gray-900"
          >
            Cantidad
          </th>
          <td mat-cell *matCellDef="let producto" class="!text-center">{{ producto.cantidad }}</td>
        </ng-container>

        @if (isAdmin) {
          <ng-container matColumnDef="acciones">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="px-6 py-3 font-medium !bg-gray-600 !text-white !text-center !border-b-4 !border-double !border-gray-900"
            >
              Acciones
            </th>
            <td mat-cell *matCellDef="let producto" class="!text-center">
              <button
                type="button"
                [swal]="{
                  title: 'Confirmar Eliminación',
                  text: '¿Deseas Eliminar Este Registro? No se Podra Recuperar.',
                  showCancelButton: true,
                  confirmButtonColor: '#f8bb86',
                  confirmButtonText: 'Confirmar',
                  icon: 'warning',
                }"
                class="cursor-pointer bg-red-400 text-white p-2 rounded-xs hover:bg-red-500"
                (confirm)="eliminarProducto(producto.id)"
              >
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="tablasColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: tablasColumnas"></tr>
      </table>
    </div>
  </div>

  <app-modals />
} @else {
  <section
    class="w-full h-[calc(100vh-64px)] bg-cover bg-center bg-no-repeat bg-[url('https://mecaluxes.cdnwm.com/blog/img/sistema-de-inventario.1.7.jpg')] relative"
  >
    <div class="absolute inset-0 bg-black/60"></div>

    <div class="relative z-10 flex flex-col items-center justify-center h-full px-4 text-center">
      <h1
        class="mb-6 text-4xl font-extrabold tracking-tight bg-gradient-to-r from-yellow-400 to-amber-600 bg-clip-text text-transparent md:text-5xl lg:text-6xl"
      >
        Bienvenido al Sistema de Inventarios de CCL
      </h1>

      <button
        type="button"
        routerLink="login"
        class="cursor-pointer inline-flex items-center gap-2 bg-amber-400 hover:bg-amber-500 text-black font-semibold px-6 py-3 rounded-xl shadow-lg transition-all duration-300 hover:scale-105"
      >
        Inicia Sesión Aquí para Empezar
      </button>
    </div>
  </section>
}
